body{
    color:#666666 ;
}

.js-clock{
    font-size: 5em;
    text-align: center;
} 
input{
    font-size: 3em;
    text-align: center;
    
}
.formCenter{
    text-align: center;
}
.namingForm,
.greetings,
.toDoForm{/*화면에 숨겨라*/
     display: none;
     font-size: 2.5em; 
     text-align: center;
}
.showing{/*화면에 보여줘라*/
    display:block;
}

